Site.Service.UploadService/Connected Services/UploadService/UploadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.jsonyang.com" elementFormDefault="qualified" targetNamespace="http://service.jsonyang.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8890/UploadService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UploadImg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgDatas" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sizeConfig" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="imgExt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbModel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UploadImgResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>