Site.Service.SiteService/Connected Services/PublishPageService/PublishPageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.jsonyang.com" elementFormDefault="qualified" targetNamespace="http://service.jsonyang.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PublishPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>