Site.Service.VideosService/Connected Services/VideosService/VideosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://service.jsonyang.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.jsonyang.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.jsonyang.com/Imports">
      <xsd:import schemaLocation="http://localhost:65398/VideosService.svc?xsd=xsd0" namespace="http://service.jsonyang.com" />
      <xsd:import schemaLocation="http://localhost:65398/VideosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65398/VideosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Site.VideoModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVideosService_VideoInfo_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_Insert" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_DeleteById" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_UpdateById_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_UpdateById" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_UpdateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_UpdateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_SelectPage_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_SelectPage" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_SelectPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_SelectPageResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_SelectById" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoInfo_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoInfo_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_Insert" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_DeleteByc_id_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_DeleteByc_id" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_DeleteByc_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_DeleteByc_idResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_UpdateByc_id_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_UpdateByc_id" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_UpdateByc_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_UpdateByc_idResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_SelectPage_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_SelectPage" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_SelectPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_SelectPageResponse" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_SelectByc_id_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_SelectByc_id" />
  </wsdl:message>
  <wsdl:message name="IVideosService_VideoCate_SelectByc_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoCate_SelectByc_idResponse" />
  </wsdl:message>
  <wsdl:portType name="IVideosService">
    <wsdl:operation name="VideoInfo_Insert">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_Insert" message="tns:IVideosService_VideoInfo_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_InsertResponse" message="tns:IVideosService_VideoInfo_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoInfo_DeleteById">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_DeleteById" message="tns:IVideosService_VideoInfo_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_DeleteByIdResponse" message="tns:IVideosService_VideoInfo_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoInfo_UpdateById">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_UpdateById" message="tns:IVideosService_VideoInfo_UpdateById_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_UpdateByIdResponse" message="tns:IVideosService_VideoInfo_UpdateById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoInfo_SelectPage">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_SelectPage" message="tns:IVideosService_VideoInfo_SelectPage_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_SelectPageResponse" message="tns:IVideosService_VideoInfo_SelectPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoInfo_SelectById">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_SelectById" message="tns:IVideosService_VideoInfo_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoInfo_SelectByIdResponse" message="tns:IVideosService_VideoInfo_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoCate_Insert">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_Insert" message="tns:IVideosService_VideoCate_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_InsertResponse" message="tns:IVideosService_VideoCate_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoCate_DeleteByc_id">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_DeleteByc_id" message="tns:IVideosService_VideoCate_DeleteByc_id_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_DeleteByc_idResponse" message="tns:IVideosService_VideoCate_DeleteByc_id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoCate_UpdateByc_id">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_UpdateByc_id" message="tns:IVideosService_VideoCate_UpdateByc_id_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_UpdateByc_idResponse" message="tns:IVideosService_VideoCate_UpdateByc_id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoCate_SelectPage">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_SelectPage" message="tns:IVideosService_VideoCate_SelectPage_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_SelectPageResponse" message="tns:IVideosService_VideoCate_SelectPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoCate_SelectByc_id">
      <wsdl:input wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_SelectByc_id" message="tns:IVideosService_VideoCate_SelectByc_id_InputMessage" />
      <wsdl:output wsaw:Action="http://service.jsonyang.com/IVideosService/VideoCate_SelectByc_idResponse" message="tns:IVideosService_VideoCate_SelectByc_id_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>