Site.Service.VideosService/Connected Services/VideosService/VideosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Site.VideoModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Site.VideoModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VideoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="v_c_id" type="xs:int" />
      <xs:element minOccurs="0" name="v_c_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_coverImgSrc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_createTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="v_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_intro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_playSrc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_status" type="xs:int" />
      <xs:element minOccurs="0" name="v_timeLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_titile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_totalSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoInfo" nillable="true" type="tns:VideoInfo" />
  <xs:complexType name="ArrayOfVideoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoInfo" nillable="true" type="tns:VideoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoInfo" nillable="true" type="tns:ArrayOfVideoInfo" />
  <xs:complexType name="VideoCate">
    <xs:sequence>
      <xs:element minOccurs="0" name="c_id" type="xs:int" />
      <xs:element minOccurs="0" name="c_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoCate" nillable="true" type="tns:VideoCate" />
  <xs:complexType name="ArrayOfVideoCate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoCate" nillable="true" type="tns:VideoCate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoCate" nillable="true" type="tns:ArrayOfVideoCate" />
</xs:schema>