Site.Service.YuYangService/Connected Services/YuYangServices/YuYangService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Site.YuYangModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Site.YuYangModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Fiction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_C_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CompleteState" type="xs:int" />
      <xs:element minOccurs="0" name="CoverImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Intro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastChapterId" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdateChapter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fiction" nillable="true" type="tns:Fiction" />
  <xs:complexType name="ArrayOfFiction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fiction" nillable="true" type="tns:Fiction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiction" nillable="true" type="tns:ArrayOfFiction" />
  <xs:complexType name="ContentCate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentCate" nillable="true" type="tns:ContentCate" />
  <xs:complexType name="ArrayOfContentCate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentCate" nillable="true" type="tns:ContentCate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentCate" nillable="true" type="tns:ArrayOfContentCate" />
  <xs:complexType name="ChapterVisits">
    <xs:sequence>
      <xs:element minOccurs="0" name="Browser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChapterVisits" nillable="true" type="tns:ChapterVisits" />
  <xs:complexType name="ArrayOfChapterVisits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChapterVisits" nillable="true" type="tns:ChapterVisits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChapterVisits" nillable="true" type="tns:ArrayOfChapterVisits" />
</xs:schema>